/* ***** Contact Box ***** */
.newsCenterContact {
    color: #000000;
    font-family: 'Montserrat';
}

.newsCenterContact .newsCenterContactHeader {
    background: #f7f7f7;
}

.newsCenterContact address {
    font-size: 1.5rem;
    font-weight: 500;
}

.newsCenterContact h4 {
    font-weight: 600;
}

.newsCenterContact address a {
    color: #088099;
    text-decoration: none;
}

.newsCenterContact address a:hover {
    text-decoration: underline;
}

.newsCenterContact address a:focus {
    text-decoration: underline;
}

/** horizontal rule between articles **/

hr.articleBorderBottom {
    color: #e5e5e5;
    height: 3px;
    margin: 0;
    opacity: unset;
}
