/** Wraps Major Feed Overflow within container **/

div#MainZone div.container {
    display: contents;
}

hr.articleBorderBottom {
    margin-left: 20px;
    margin-right: 20px;
}


/* * Adds Verticle Rule to left of major feed on full screen * */


/* card-group {
    border-left
    border-color: #000000;
    border-style: solid;
    border-width: 1rem;
    height: 100%;
} */


/** Aligns news summary with the image **/

div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    padding-left: 20px;
}


/** Overrides law style for list items **/

div.newsroomArticle ul li.tag {
    display: inline-block;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    margin-right: 5px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.standardContent ul li:before {
    content: none;
}


/** Address major feed image style **/

img {
    min-width: -webkit-fill-available;
}