/*********************
*
*   News Center Sections
*   Media ID: 2268766
*   law-newscenter-sections.css
*
**/





/* ****** Wraps Overflow within container ****** */
div#MainZone div.container {
    display: contents;
}




/* *****  Grid Organizer customizations  **** */

div.gridOrganizer.standardContent {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

div.gridOrganizerWrapper div.titleWrapper {
    width: 100%;
}

div.gridOrganizerWrapper div.titleWrapper h2.organizerTitle {
    color: #aa0000;
}

.gridFeedItem {
    margin: 15px;
    max-width: 260px;
    padding: 0;
}

.gridFeedItem figure.newsroomImageWrapper {
    margin: 0;
}

.gridFeedItem .figure-img.articleImage {
    margin: 0;
    padding: 0;
}

.gridFeedItem div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    margin-right: 1px;
    padding-left: 0;
    padding-right: 0;
}

.gridFeedItem h3.card-title {
    font-size: 1.25rem;
    font-weight: 450;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.gridFeedItem p {
    font-size: 1rem;
    font-weight: 450;
    line-height: inherit;
    margin-bottom: 0;
}

.gridFeedItem .newsroomArticlePublishedDate {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.gridFeedItem .card-footer {
    background-color: #807060;
    border-top: 1px solid #807060;
}




/* *****  category feed customizations ***** */


div.newsroomOrganizer.card-deck {
    flex-direction: column;
}
  
div.newsroomOrganizer.card-deck .card {
    border: none;
}

.newsroomCategoryFeedItem .newsroomArticleBlurb.card-body {
    margin: 0;
    padding: 0;
}

.newsroomCategoryFeedItem h3 {
    font-size: 1.75rem;
    font-weight: 450;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.newsroomCategoryFeedItem p {
    font-size: 1.25rem;
    font-weight: 450;
    line-height: 1.75rem;
}

.newsroomCategoryFeedItem ul {
    font-size: 1.25rem;
    font-weight: 450;
    margin-bottom: 0;
}

div.newsroomOrganizerWrapper p.newsroomArticlePublishedDate {
    font-size: 1.25rem;
}

.card span.newsroomArticleSpecialCategory {
    color: #aa0000;
}

p.credits {
    margin-bottom: 0.5rem;
}

hr.articleBorderBottom {
    border-top: 3px solid #e5e5e5;
    display: block;
    height: 3px;
    margin: 1rem 0;
    opacity: unset;
}








/*********************
*
*   Responsive Media Querys
*
**/


/* ***** Desktop ***** */
@media screen and (min-width: 992px) {

    .gridOrganizerWrapper {
        background-color: #f7f7f7;
        padding-bottom: 50px;
    }

    .newsroomOrganizerWrapper .card-deck {
        width: 50%;
    }
}


/* ***** Mobile ***** */
@media screen and (max-width: 991.99px) {

    h2.organizerTitle {
        font-size: 1.75rem;;
    }

    .gridFeedItem {
        font-size: 1rem;
        margin: 1rem 0;
        max-width: 100%;
    }

    .gridFeedItem h3 {
        font-size: 1rem;
    }
    
    .gridFeedItem p {
        font-size: 1rem;
    }

    .newsroomCategoryFeedItem h3 {
        font-size: 1rem;
    }

    .newsroomCategoryFeedItem p {
        font-size: 1rem;
    }

    div.newsroomOrganizerWrapper p.newsroomArticlePublishedDate {
        font-size: 1rem;
    }
}
