/** Wraps Major Feed Overflow within container **/

div#MainZone div.container {
    display: contents;
}


/** Hero Feed  **/

div.heroOrganizer.standardContent {
    margin: 0;
    min-width: -webkit-fill-available;
    padding-right: 25px;
}

div.newsroomHeroFeedItem.col-xs-12 {
    padding-left: 0;
}

div.heroOrganizerWrapper.col-xs-12 {
    padding-left: 0;
}


/** border for organizer left on full page **/

div.newsroomOrganizerWrapper.col-md-8 {
    border: #f7f7f7;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    margin: 20px 0 20px 0;
}

/** left right padding and margin to control image size **/

div.newsroomOrganizerWrapper.col-md-8 div.newsroomMajorFeedItem {
    margin: 0 20px 0 20px;
    padding: 0 20px 0 20px;
}

/** horizontal rule between articles **/

hr.articleBorderBottom {
    color: #f7f7f7;
    margin-left: 20px;
    margin-right: 20px;
}


/** Aligns news summary with the image **/

div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    margin-right: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

h3.newsroomArticleTitle.panel-heading {
    padding-left: 0;
}


/** Overrides law style for list items **/

div.newsroomArticle ul li.tag {
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    margin-bottom: 5px;;
    margin-right: 5px;
}

.standardContent ul li:before {
    content: none;
}


/** Address major feed image style **/

img.articleImage {
    min-width: -webkit-fill-available;
    padding-top: 0;
}


/** Media Queries  **/

/** Responsive Media Querys **/
@media screen and (max-width: 767.999px) {
div.heroOrganizer.standardContent {
    margin-left: 20px;
    padding-left: 20px;
}
}
