/*********************
*
*   Imported News Center Grid Styles
*   Media Item 2686642
*   Law Newscenter Landing Page CSS
*
**/

div.gridOrganizerWrapper.contentItem {
    padding: 0 0 50px 0;
}

div.gridOrganizerWrapper.contentItem div.titleWrapper {
    padding: 1rem 0 1rem 0;
    width: 100%;
}

div.gridOrganizerWrapper div.titleWrapper h2.organizerTitle {
    color: #aa0000;
}

div.gridOrganizerWrapper .gridFeedItem {
    max-width: 100%;
}

.gridFeedItem .newsroomArticlePublishedDate {
    font-size: 1rem;
    font-weight: 500;
}


/* ***  Large min Defaults min 1200   *** */

@media screen and (min-width: 1200px) {

    div.gridOrganizerWrapper div.gridOrganizer.standardContent {
        justify-content: start;
        flex-flow: unset;
        flex-direction: row;
        gap: 1rem;
      }
    
      div.gridOrganizerWrapper .gridFeedItem {
        margin: 0;
        padding: 0;
    }
    
    div.gridOrganizerWrapper .gridOrganizer.standardContent.card-deck > * + * {
        margin-left: 1rem;
    }
}
