.masonryOrganizer.card-group {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.masonryOrganizer .mainHeroItem {
    margin: auto;
}

.mainHeroItem img.card-img-top {
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}


@media (min-width: 992px) {
    .masonryOrganizer.card-group > .mainHeroItem.card {
        margin-bottom: 0;
        flex: auto;
    }
}

@media (max-width: 991.98px) {

    .masonryOrganizerWrapper  {
        padding-bottom: 25px;
    }

    .masonryOrganizer.card-group {
        flex-direction: column;
        flex: auto;
        padding: 0 30px;
    }

    .masonryOrganizer .mainHeroItem {
        margin-bottom: 1rem;
    }

    .mainHeroItem hr.articleBorderBottom {
        border-top: 3px solid #e5e5e5;
        display: block;
        height: 3px;
        margin: 0 20px 20px 20px;
    }
}
