.masonryOrganizer.card-group {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


@media (min-width: 992px) {
    .masonryOrganizer.card-group > .mainHeroItem.card {
        margin-bottom: 0;
        flex: auto;
    }
}

@media (max-width: 991.98px) {

    .masonryOrganizer.card-group {
        flex-direction: column;
        padding: 0 30px;
    }

    .masonryOrganizer .mainHeroItem {
        margin-bottom: 1rem;
    }

}
