/* ****** Wraps Overflow within container ****** */
div#MainZone div.container {
    display: contents;
}






/* *****  Grid Organizer customizations  **** */

div.gridOrganizerWrapper {
    /* background-color: #f7f7f7; */
    background-color: #e6efff;
    opacity: 90%;
}

.gridOrganizer.standardContent {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: center;
}

div.gridFeedItem {
    margin: 15px;
    max-width: 260px;
    padding: 0%;
}

div.gridOrganizer div.titleWrapper {
    width: 100%;
}

/* div.gridFeedItem.card {
    flex: 1;
} */

div.gridFeedItem .articleImage {
    padding: 0%;
}

div.gridFeedItem div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    margin-right: 1px;
    padding-left: 0;
    padding-right: 0;
}

div.gridFeedItem h3.card-title {
    font-size: 1.5rem;
    font-weight: 450;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div.gridFeedItem p {
    font-size: 1.25rem;
    font-weight: 450;
    line-height: inherit;
}

/** horizontal rule between articles **/

hr.articleBorderBottom {
    color: #1B1B1B;
    margin-top: 10px;
    margin-bottom: 20px;
}






/** Overrides law style for list items **/

div.newsroomArticle ul li.tag {
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    margin-bottom: 5px;;
    margin-right: 5px;
}

p.credits {
    margin-bottom: 0.5rem;
}

.standardContent ul li:before {
    content: none;
}





/** Address major feed image style **/

img.articleImage {
    min-width: -webkit-fill-available;
    padding-top: 0;
}





/* *****  category feed customizations ***** */

div.newsroomOrganizer.card-deck {
    flex-direction: column;
}
  
div.newsroomOrganizer.card-deck .card {
    border: none;
}

span.newsroomImageWrapper img.articleImage {
    padding: 0;
}

div.newsroomCategoryFeedItem div.newsroomArticleBlurb.card-body {
    padding: 0%;
}

div.newsroomCategoryFeedItem h3 {
    font-size: 1.75rem;
    font-weight: 450;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div.newsroomCategoryFeedItem p {
    font-size: 1.25rem;
    font-weight: 450;
    line-height: 1.75rem;
}

div.newsroomCategoryFeedItem ul {
    font-size: 1.25rem;
    font-weight: 450;
    margin-bottom: 0;
}





/** Responsive Media Querys **/
@media screen and (max-width: 767.999px) {
    h2.organizerTitle {
        padding: 0 15px 0 15px;
    }

    div.gridFeedItem {
        font-size: 1rem;
        font-weight: 400;
        max-width: 100%;
    }

    div.gridFeedItem h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    
    div.gridFeedItem p {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomCategoryFeedItem {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.newsroomCategoryFeedItem h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomCategoryFeedItem p {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomCategoryFeedItem ul {
        font-size: 1rem;
        font-weight: 400;
    }
}
