/** Wraps Overflow within container **/

div#MainZone div.container {
    display: contents;
}


/** enforces a masonry grid **/

.gridOrganizer.standardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.gridFeedItem {
   flex: 1 1 calc(100% - 30px);
   align-self: flex-start;
   margin: 15px;
   max-width: 360px;
}

div.gridOrganizerWrapper {
    background-color: #e6efff;
    opacity: 90%;
}

/** border for organizer left on full page **/

div.newsroomOrganizerWrapper.col-md-8 {
    border: #f7f7f7;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    margin: 20px 0 20px 0;
}

/** left right padding and margin to control image size **/

div.newsroomOrganizerWrapper.col-md-8 div.newsroomMajorFeedItem {
    margin: 0 20px 0 20px;
    padding: 0 20px 0 20px;
}

/** horizontal rule between articles **/

hr.articleBorderBottom {
    color: #f7f7f7;
    margin-left: 20px;
    margin-right: 20px;
}


/** Aligns news summary with the image **/

div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    margin-right: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

h3.newsroomArticleTitle.panel-heading {
    padding-left: 0;
}


/** Overrides law style for list items **/

div.newsroomArticle ul li.tag {
    display: inline-block;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    margin-right: 5px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.standardContent ul li:before {
    content: none;
}


/** Address major feed image style **/

img.articleImage {
    min-width: -webkit-fill-available;
    padding-top: 0;
}
