/*********************
*
*   Imported News Center Grid Styles
*   Media Item 2686642
*   Law Newscenter Landing Page CSS
*
**/

div.gridOrganizerWrapper.contentItem {
    padding: 0 0 50px 0;
}

div.gridOrganizerWrapper.contentItem div.titleWrapper {
    padding: 1rem 0 1rem 0;
    width: 100%;
}

div.gridOrganizerWrapper div.titleWrapper h2.organizerTitle {
    color: #aa0000;
}

div.gridOrganizerWrapper .gridFeedItem {
    max-width: 100%;
}

.gridFeedItem figure.newsroomImageWrapper {
    margin: 0;
}

.gridFeedItem .figure-img.articleImage {
    margin: 0;
    padding: 0;
}

.gridFeedItem .newsroomArticlePublishedDate {
    font-size: 1rem;
    font-weight: 500;
}

.gridFeedItem .newsroomArticlePublishedDate {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.gridFeedItem .card-footer {
    background-color: #807060;
    border-top: 1px solid #807060;
}


/* ***  Large min Defaults min 992   *** */

@media screen and (min-width: 992px) {

    .gridOrganizerWrapper .gridOrganizer.standardContent {
        justify-content: space-between;
        flex-flow: unset;
        flex-direction: row;
        gap: 1rem;
      }
    
    .gridOrganizerWrapper .gridFeedItem {
        margin: 0;
        padding: 0;
    }
    
    .gridOrganizerWrapper .gridOrganizer.standardContent.card-group > * + * {
        margin-left: 1rem;
    }
}


@media screen and (max-width: 991.98px) {

    .gridOrganizerWrapper {
        padding-bottom: 25px;
    }

    .gridOrganizer.standardContent {
        flex-direction: column;
        padding: 0 30px;
    }

    .gridFeedItem {
        margin-bottom: 1rem;
    }
}