/*********************
*
*   News Center Home
*   Media library item ID: 2268764
*   law-newscenter.css
*
**/


/** Global header override **/

#globalHeader {
    position: unset;
}


/** Wraps Major Feed Overflow within container **/

div#MainZone div.container {
    display: contents;
}


/** news article customizations **/

div.newsroomOrganizerWrapper h3.newsroomArticleTitle {
    font-size: 1.6rem;
    margin: 15px 0 15px 0;
}

div.newsroomOrganizerWrapper p {
    font-size: 1.5rem;
    line-height: 1.35;
}

div.newsroomOrganizerWrapper p.newsroomArticlePublishedDate {
    font-size: 1.25rem;
}

.card span.newsroomArticleSpecialCategory {
    color: #aa0000;
}

span.newsLink a.card-link {
    color: #088099;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}

span.newsLink a.card-link:hover {
    text-decoration: underline;
}

span.newsLink a.card-link:focus {
    text-decoration: underline;
}

.newsroomMinorFeedItem.newsroomBlurb.card .newsroomArticleBlurb.card-body {
    padding: 0;
}

.newsroomMajorFeedItem.newsroomBlurb.card .newsroomArticleBlurb.card-body {
    padding: 0;
}

.newsroomHeroFeedItem.newsroomBlurb.card .newsroomArticleBlurb.card-body {
    padding: 0;
}


/** Hero Feed  **/

div.heroOrganizer.standardContent {
    margin: 0;
    min-width: -webkit-fill-available;
}

.newsroomHeroFeedItem figure {
    margin: 0;
}

.newsroomHeroFeedItem.col-xs-12 {
    padding-left: 0;
}

.newsroomHeroFeedItem img {
    padding: 0;
}

.newsroomHeroFeedItem h3.newsroomArticleTitle {
    font-size: 1.6rem;
    margin: 1rem 0 1.25rem 0;
    padding: 0;
}

div.heroOrganizerWrapper.col-xs-12 {
    padding-left: 0;
}

.newsroomHeroFeedItem hr.articleBorderBottom {
    margin: 0;
}


/** Major Feed  **/

.newsroomMajorFeedItem figure {
    margin: 0;
}

.newsroomMajorFeedItem img {
    padding: 0;
}

.newsroomMajorFeedItem h3.newsroomArticleTitle {
    padding: 0;
}

.newsroomMajorFeedItem .newsroomArticleLead {
    padding: 0;
}

.newsroomMajorFeedItem .newsroomArticlePublishedDate {
    padding: 0;
}

.newsroomMajorFeedItem .newsLink {
    padding: 0;
}

.newsroomMajorFeedItem hr.articleBorderBottom {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.newsroomOrganizerWrapper.major-feed {
    margin-bottom: 1rem;
}


/** Minor Feed  **/

.newsroomMinorFeedItem h3.newsroomArticleTitle {
    padding: 0;
}

.newsroomMinorFeedItem .newsroomArticleLead {
    padding: 0;
}

.newsroomMinorFeedItem .newsroomArticlePublishedDate {
    padding: 0;
}

.newsroomMinorFeedItem .newsLink {
    padding: 0;
}

.newsroomMinorFeedItem hr.articleBorderBottom {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

div.newsroomOrganizerWrapper.minor-feed {
    margin-bottom: 1rem;
}


/** border for organizer left on full page **/

div.newsroomOrganizerWrapper.col-md-8 {
    border: #e5e5e5;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    margin: 20px 0 20px 0;
}

div.newsroomOrganizer div.titleWrapper {
    background-color: white;
}


/** whitespace between items **/

article.newsroomMajorFeedItem {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}


/** horizontal rule between articles **/

hr.articleBorderBottom {
    color: #e5e5e5;
    height: 3px;
    margin: 0 20px;
    opacity: unset;
}


/** Aligns news summary with the image **/

div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    margin-right: 1px;
    padding-left: 20px;
    padding-right: 20px;
}


/** Overrides law style for list items **/

div.newsroomArticle ul li.tag {
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.standardContent ul li:before {
    content: none;
}


/***
*
*   Address major feed image styles 
*
*/


/** layout for byline and credits **/

p.credits {
    margin-bottom: 0.5rem;
}


/* ***** Contact Box ***** */

div.titleWrapper address {
    color: #333333;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
}

div.titleWrapper address strong {
    font-weight: 700;
}

div.titleWrapper address a {
    color: #088099;
}


/** Media Queries  **/


/** Responsive Media Querys **/


/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .major-feed .card-deck {
        margin-left: 2rem;
    }
    .minor-feed .card-deck {
        margin-right: 2rem;
    }
    .newsroomOrganizerWrapper.major-feed {
        border-left: #e5e5e5;
        border-left-style: solid;
        border-left-width: initial;
    }
    .newsroomHeroFeedItem hr.articleBorderBottom {
        margin: 0 0 1rem 0;
    }
}


/* Medium devices (tablets, 768px and up) */

@media screen and (max-width: 991.98px) {
    .heroOrganizerWrapper {
        padding-top: 1rem;
    }
    .newsroomHeroFeedItem {
        margin-bottom: 1rem;
    }
    div.newsroomOrganizerWrapper.col-md-8 {
        border: none;
        margin: 0;
    }
    div.newsroomOrganizerWrapper {
        border: none;
        margin: 0;
    }
    article.newsroomMajorFeedItem {
        padding-bottom: 0;
    }
    div.newsroomOrganizerWrapper.minor-feed {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 767.999px) {
    div.newsroomOrganizerWrapper h3.newsroomArticleTitle {
        font-size: 1.4rem;
    }
    div.heroOrganizerWrapper h3.newsroomArticleTitle {
        font-size: 1.4rem;
    }
    div.newsroomOrganizerWrapper p {
        font-size: 1.25rem;
    }
    div.newsroomOrganizerWrapper p.newsroomArticlePublishedDate {
        font-size: 1rem;
    }
}


/*********************
  *
  *   News Center Navigation
  *
  **/

h1#pageTitle {
    hyphens: none;
}

body {
    padding-top: 0;
}

body.law-newscenterMain-2077081 {
    max-width: none;
}

.hidden {
    display: none;
}

div#navbarSupportedContent {
    margin-left: 10rem;
}


/* *****  full width nav banner  ***** */

header#newscenterHeader {
    max-width: none;
}

header#newscenterHeader.container {
    max-width: none;
    padding-bottom: 0.25rem;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

nav#newscenterNav .row {
    max-width: none;
    width: -webkit-fill-available;
}


/* *****  nav borders and background  ***** */

nav#newscenterNav {
    background-color: #fff;
    border-top: 0.1rem solid #AA0000;
    border-bottom: 0.1rem solid #AA0000;
    border-radius: 0;
    border-right: none;
    border-left: none;
}

nav#newscenterNav h2.nav-link {
    color: #000000;
    font-size: 1rem;
}


/* *****  nav styles  ***** */

a.navbar-brand {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

button.navbar-toggler {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

a.navbar-brand h1 {
    display: inline;
    font-size: 1.5rem;
    font-weight: 400;
    word-break: break-word;
}

a.navbar-brand span {
    font-size: 1.5rem;
}

ul.menu {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#newscenterNav ul.menu {
    font-size: medium;
    font-weight: 500;
}

li.nav-item a.nav-link {
    color: #000000
}

nav#newscenterNav ol.breadcrumb li+li:before {
    color: #088099;
    content: "";
    /* content: " \003E\00a0"; */
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 7px;
}


/* *****  modal customizations  ***** */

.modal-backdrop {
    z-index: auto;
}

div.container-fluid#navbarModalTopicsMenu {
    padding: 0;
}

div.modal-body ul.list-group a {
    color: #000000;
}

div.modal-body div.js-elements-container {
    color: #000000;
}


/*********************
  *
  *   Responsive Media Querys
  *
  **/


/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    header#newscenterHeader.container {
        height: 75px;
    }
    #newscenterNav .navbar-nav .nav-item .nav-link {
        margin: 0;
        padding: 1rem 0 1rem 1rem;
    }
    #newscenterNav ol.breadcrumb {
        margin-bottom: 0;
    }
}


/* ***** Min Width 1200 Max Width 1366 ***** */

@media screen and (min-width: 1200px) and (max-width: 1365.98px) {
    nav#newscenterNav h2.nav-link {
        font-size: 0.95rem;
    }
    a.navbar-brand h1 {
        font-size: 1.75rem;
    }
    a.navbar-brand span {
        font-size: 1.4rem;
    }
}


/* ***** Min Width 992 Max Width 1200 ***** */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    div#navbarSupportedContent {
        margin-left: 5rem;
    }
    nav#newscenterNav h2.nav-link {
        font-size: 0.85rem;
    }
}


/* ***** Min Width 769 Max Width 991 ***** */

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    div#navbarSupportedContent ul.menu {
        flex-direction: row;
        justify-content: center;
    }
    div#navbarSupportedContent ul.menu li.nav-item {
        margin: 0 0.75rem;
    }
    div#navbarSupportedContent ul.menu li.nav-item h2 {
        font-size: 0.85rem;
    }
}


/* ***** Min Width 576 Max Width 767 ***** */


/* @media screen and (min-width: 576px) and (max-width: 767.98px) {
    a.navbar-brand h1 {
        font-size: 1.25rem;
    }
    a.navbar-brand span {
        font-size: 1.1rem;
    }
} */


/* ***** Max Width 767 ***** */

@media screen and (max-width: 991.98px) {
    .law-newscenter-2268929 #pageContentWrapper {
        background-color: #ffffff;
        border-bottom: none;
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: 0.1rem solid #AA0000;
    }
    div#navbarSupportedContent {
        margin-left: 0;
        flex-direction: column;
    }
    #newscenterNav ol.breadcrumb {
        margin: 0;
    }
    #newscenterNav ul.menu {
        width: 100%;
    }
    .modal-body {
        font-size: x-small;
    }
    div.modal-body ul.list-group h4 {
        font-size: 1rem;
    }
    div.modal-body ul.list-group a strong {
        font-size: .7rem;
    }
    div.modal-body ul.list-group a small {
        font-size: .65rem;
    }
    div.mobile-categories {
        width: 100%;
    }
    div.mobile-categories address {
        font-size: 1rem;
    }
    div.mobile-categories address a {
        color: #088099;
    }
    div.mobile-categories h3 {
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    hr.mobile-categories {
        color: #000000;
    }
    li.nav-item.desktop-categories {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    div.mobile-categories {
        display: none;
    }
    li.nav-item.mobile-categories {
        display: none;
    }
}


/* ***** Max Width 576 ***** */


/* @media screen and (max-width: 576px) {
    div.modal-body ul.list-group a small {
        font-size: .5rem;
    }
    div.modal-body ul.list-group a strong {
        font-size: .5rem;
    }
    div.modal-body ul.list-group h4 {
        font-size: 0.9rem;
    }
    li.dropdown-menu {
        border: none;
    }
    a.navbar-brand h1 {
        font-size: 1.15rem;
    }
    a.navbar-brand span {
        font-size: 1.05rem;
    }
} */


/* ***** Min Width 576 ***** */

@media screen and (min-width: 576px) {}


/*********************
  *
  *   Reference Breakpoints
  *
  **/


/* Galaxy Fold (less than 280px) */

@media only screen and (max-width: 280px) {}


/* iPhone X (less than 376px) */

@media only screen and (max-width: 376px) {}


/* Surface Duo (less than 540px) */

@media only screen and (max-width: 540px) {}


/* Extra small devices (portrait phones, less than 576px) */

@media only screen and (max-width: 575.98px) {}


/* Small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 576px) and (max-width: 767.98px) {}


/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) and (max-width: 991.98px) {}


/* iPad Pro (iPad Pro, 1024px to 1200) */

@media screen and (min-width: 1024px) and (max-width: 1199.98px) {}


/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {}


/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {}


/* X Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1366px) {}


/* XX Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1920px) {}


/* XXX Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 2560px) {}


/* ***** Mobile Up ***** */

@media screen and (min-width: 576px) {}

@media screen and (min-width: 767.999px) {}


/* ***** Desktop down ***** */

@media screen and (max-width: 1200px) {}