/* *****  full width nav banner  ***** */
body {
  padding-top: 0;
}

header#newscenterHeader {
  max-width: none;
}

nav#newscenterNav {
  background-color: #ffffff;
  border-top: 0.1rem solid #AA0000;
  border-bottom:  0.1rem solid #AA0000;
  border-radius: 0;
  border-right: none;
  border-left: none;
}

nav#newscenterNav .container {
  max-width: none;
}
