/*********************
*
*   News Center Sections
*   Media ID: 2268766
*   law-newscenter-sections.css
*
**/





/* ****** Wraps Overflow within container ****** */
div#MainZone div.container {
    display: contents;
}




/* *****  Grid Organizer customizations  **** */

div.gridOrganizerWrapper {
    background-color: #f7f7f7;
    padding-bottom: 50px;
} 

div.gridOrganizer.standardContent {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    justify-content: center;
}

div.gridOrganizerWrapper div.titleWrapper {
    width: 100%;
}

div.gridOrganizerWrapper div.titleWrapper h2.organizerTitle {
    color: #aa0000;
}

.gridFeedItem {
    margin: 15px;
    max-width: 260px;
    padding: 0;
}

.gridFeedItem figure.newsroomImageWrapper {
    margin: 0;
}

.gridFeedItem .articleImage {
    padding: 0;
}

.gridFeedItem div.newsroomArticleBlurb.container div.row {
    margin-left: 0;
    margin-right: 1px;
    padding-left: 0;
    padding-right: 0;
}

.gridFeedItem h3.card-title {
    font-size: 1.25rem;
    font-weight: 450;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.gridFeedItem p {
    font-size: 1rem;
    font-weight: 450;
    line-height: inherit;
    margin-bottom: 0;
}

.gridFeedItem .newsroomArticlePublishedDate {
    font-size: 1rem;
    font-weight: 500;
}




/** horizontal rule between articles **/

.law-newscenterSections-2077081 hr.articleBorderBottom {
    color: #f7f7f7;
    margin: 10px 0 20px 0;
}




/** Overrides law style for list items **/

div.newsroomArticle ul li.tag {
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    margin-bottom: 5px;;
    margin-right: 5px;
}

p.credits {
    margin-bottom: 0.5rem;
}

.standardContent ul li:before {
    content: none;
}






/* *****  category feed customizations ***** */


div.newsroomOrganizer.card-deck {
    flex-direction: column;
}
  
div.newsroomOrganizer.card-deck .card {
    border: none;
}

div.newsroomCategoryFeedItem div.newsroomArticleBlurb.card-body {
    padding: 0%;
}

div.newsroomCategoryFeedItem h3 {
    font-size: 1.75rem;
    font-weight: 450;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div.newsroomCategoryFeedItem p {
    font-size: 1.25rem;
    font-weight: 450;
    line-height: 1.75rem;
}

div.newsroomCategoryFeedItem ul {
    font-size: 1.25rem;
    font-weight: 450;
    margin-bottom: 0;
}

div.newsroomOrganizerWrapper p.newsroomArticlePublishedDate {
    font-size: 1.25rem;
}

div.card span.newsroomArticleSpecialCategory {
    color: #aa0000;
}








/*********************
*
*   Responsive Media Querys
*
**/


/* ***** Mobile Up ***** */
@media screen and (min-width: 576px) {
    /* If Bootstrap 4 only */
    .gridFeedItem {
        flex: auto;
    }
}

@media screen and (min-width: 767.999px) {
    /* If Bootstrap 4 only */
    div.gridOrganizerWrapper {
        padding: 0 50px 50px 50px;
    }
}


/* ***** Desktop down ***** */

@media screen and (max-width: 1200px) {
    /* If Bootstrap 4 only */
    .card-deck .gridFeedItem.card {
        flex: auto;
    }
}

@media screen and (max-width: 767.999px) {

    h2.organizerTitle {
        font-size: 1.75rem;;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }

    div.gridOrganizerWrapper {
        padding-bottom: 15px;
        padding-left: 15px;
    }

    div.gridOrganizerWrapper h2.organizerTitle {
        padding-left: 5px;
    }

    .gridFeedItem {
        font-size: 1rem;
        font-weight: 400;
        max-width: 100%;
    }

    .gridFeedItem h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .gridFeedItem p {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomCategoryFeedItem {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    div.newsroomCategoryFeedItem h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomCategoryFeedItem p {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomCategoryFeedItem ul {
        font-size: 1rem;
        font-weight: 400;
    }

    div.newsroomOrganizerWrapper p.newsroomArticlePublishedDate {
        font-size: 1rem;
    }
}
