/* *****  full width nav banner  ***** */
body {
  padding-top: 0;
}

.header.container {
  max-width: none;
}



/* *****  tune flex for category layout on topics pages  ***** */
div.newsroomOrganizer.card-group {
  flex-direction: column;
}

div.newsroomOrganizer.card-group .card {
  border: none;
}